
# Temp
kaggle/modele.md
**/Screenshot*

# Ignore Jupyter and Pycharms metadata
**/.ipynb_checkpoints/*
**/.idea/*
**/__pycache__/*
**/.vscode/*

# Ignore compiled
*.pyc

# Ignore these tags
**/new_*

# Ignore artifacts
**/artif_*

# Ignore data
**/data
