
#Ignore Jupyter metadata
intro-jupyter/.ipynb_checkpoints/*
intro-ml/.ipynb_checkpoints/*
labs-python/.ipynb_checkpoints/*

#labs-AI
  #lab1
labs-AI/hw-lab1/aiml/*
!labs-AI/hw-lab1/aiml/lab1-chat.aiml

  #lab2
labs-AI/hw-lab3/.idea/*
labs-AI/hw-lab3/__pycache__/*

#labs-neural-networks
labs-neural-networks/hw-lab4/.idea/*
labs-neural-networks/hw-lab4/diff.txt
labs-neural-networks/hw-lab4/alt-refactor.py

#labs-python
labs-python/py-extra-del.ipynb
labs-python/test/.idea/*